<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <setting id="username" label="30102" type="text" default=""/>
   <setting id="password" label="30103" type="text" option="hidden" enable="!eq(-1,)" default=""/>
   <setting id="showFanart" label="30104" type="bool" default="false"/>
   <setting id="pg_hash" type="text" default="" visible="false"/>
   <setting id="session" type="text" default="" visible="false"/>
   <setting id="device_id" type="text" default="" visible="false"/>
   <setting id="streaming_protocoll" label="30105" type="select" values="HLS|DASH|DASH_WIDEVINE" default="HLS" visible="System.HasAddon(inputstream.adaptive)"/>
</settings>
