<settings label="30101">
	<category label="30101">
	   <setting id="username" label="30102" type="text" default=""/>
	   <setting id="password" label="30103" type="text" option="hidden" enable="!eq(-1,)" default=""/>
	   <setting id="replay_availability" type="bool" default="false" visible="false"/>
	   <setting id="smart_hd" label="30111" type="bool" default="false"/>
	   <setting id="smart_hd_store" type="text" default="false" visible="false"/>
	   <setting id="showFanart" label="30104" type="bool" default="false"/>
	   <setting id="pg_hash" type="text" default="" visible="false"/>
	   <setting id="session" type="text" default="" visible="false"/>
	   <setting id="device_id" type="text" default="" visible="false"/>
	   <setting label="30105" type="lsep"/>
	   <setting id="streaming_protocol" label="30106" type="select" values="HLS|DASH|DASH_WIDEVINE" default="HLS" visible="System.HasAddon(inputstream.adaptive)"/>
	   <setting id="drm_lvl" label="30107" type="select" values="1|3" default="3" visible="eq(-1, 2)"/>
	   <setting id="hdcp_version" label="30108" type="select" lvalues="30109|30110" default="0" visible="eq(-2, 2)"/>
	   <setting id="startup" type="bool" default="true" visible="false"/>
   </category>
</settings>